
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div style="text-align:center" class="container-xl mb-4">
            <br>
            <img src="https://i.postimg.cc/j5BD6kYx/logo.png" alt="">
        </div><hr>
        <section class="text-center">
            <!-- Background image -->
            <div class="p-5 bg-image" style="
                  background-image: url('https://i.postimg.cc/FKh62ksR/FYEwoa6a-AAEs16-E.jpg');
                  height: 250px;
                  "></div>
            <!-- Background image -->
          
            <div class="card mx-4 mx-md-5 shadow-5-strong" style="
                  margin-top: -100px;
                  background: hsla(0, 0%, 100%, 0.8);
                  backdrop-filter: blur(30px);
                  ">
            <div class="card-body py-5 px-md-5">
          
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-3">LOGIN</h2><br>
                        <div class="row g-0">                      
                            <form method="post">
                                {% csrf_token %}
                                    
                                {{ form.as_p }}                        
                                <button class="btn btn-outline-secondary mb-4">Masuk</button>
                            </form> 
                            <br>
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                            <br>
                            <a href="/register"><button type="button" class="btn btn-outline-danger">Register</button></a><br>

                        </div>
                    </div>
                </div>
              </div>
            </div>
        </section>    

        

    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>