{% extends 'base.html' %}
{% block content %}

<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://i.postimg.cc/FKh62ksR/FYEwoa6a-AAEs16-E.jpg');
          height: 250px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
    <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <h2 class="fw-bold mb-3">Tambah Data Negara</h2><br>
                <div >
                    <div class="row g-0">
                        {% if pesan %}
                        <div class="alert alert-success">
                            {{ pesan }}
                        </div>
                        {% endif %}
                        <form action="/tambah_data/" method="post" style="text-align: left;" >
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Simpan" class="btn btn-outline-secondary">
                            <a href="/halaman1"><button type="button" class="btn btn-outline-danger">Kembali</button></a><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
<br><br><br>
{% endblock %}