<div>
  <div style="text-align:center" class="container-xl mb-4">
      <br>
      <img src="https://i.postimg.cc/j5BD6kYx/logo.png" alt="">
    </div><hr>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto" >
      <div>
        <nav class="nav nav-masthead justify-content-center mb-4">
          <a class="nav-link" aria-current="page" href="/halaman1">Home</a>
          <a class="nav-link" href="/tambah_data">Tambah Data Negara</a>
          <a class="nav-link" href="/tambah_datapeta">Tambah Data Konservasi</a>          
        </nav>
      </div>
      <div>
        <p class="fw mb-1 text-center">Hallo <b>{{ user }}</b> / <a style="color: crimson; " href="/keluar">Log Out</a>
        </p>
      </div>
    </header>
  </div>
  <hr>
</div>